<div id="comments" class="box">
	<h1>Comments, Ideas, Questions:</h1>
	<%= simple_form_for :comment, :url => comments_path do |form| %>
	  <%= form.input :from, :label => "Email", :required => true %>
	  <%= form.input :body, :as => :text, :required => true %>
	  <%= form.submit "Submit" %>
	<% end %>
</div>