<nav id="main_nav">
  <ul>
  	<li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Events", events_path %></li>
    <li><%= link_to "Join", join_path %></li>
    <li><%= link_to "Members", members_path %></li>
  </ul>
</nav>