<div id="home">
	<div class="box" id="latest">
		<h1>Latest Posts</h1>
		<% @posts.each do |p| %>
			<h2><%= p.title %></h2>
			<h3><%= p.created_at.strftime("%b %d, %Y") %></h3>
			<p><%= p.content.html_safe %></p>
		<% end %>
		<%= link_to 'Read More >', events_path, {:class => "button"} %>
	</div>

	<div class="box" id="new">
			<h1>Join</h1>
			
			<div class="media">
				<a href="https://www.facebook.com/groups/213476362041371/?fref=ts" class="img-facebook image"></a>
				<p><a href="https://www.facebook.com/groups/213476362041371/?fref=ts">Discussion, News, Pictures</a></p>
			</div>
			
			<div class="media">
				<a href="skype:?chat&blob=1NKx2ZpIjNI3ogMyG8HyqHZM7jY0JyNWGwFVJ37mr_IFHgIkYcPtU_3FLzCuq227caaNVq96ZTD-dikcD3GhS_653S7sIHeif6Am8u9pUlWJr4gkastCXD96eQhi9DgSL9fshr6lnRbCpYOhj0ptqpeF9QC8CZcvxIrPcbkbzOEJDC0XYa9dCY_qGvppXsypghINOHKtYG9jnsbu1EoXZNDfy7TB_WfH8GQP4g" class="img-skype image image"></a>
				<p><a href="skype:?chat&blob=1NKx2ZpIjNI3ogMyG8HyqHZM7jY0JyNWGwFVJ37mr_IFHgIkYcPtU_3FLzCuq227caaNVq96ZTD-dikcD3GhS_653S7sIHeif6Am8u9pUlWJr4gkastCXD96eQhi9DgSL9fshr6lnRbCpYOhj0ptqpeF9QC8CZcvxIrPcbkbzOEJDC0XYa9dCY_qGvppXsypghINOHKtYG9jnsbu1EoXZNDfy7TB_WfH8GQP4g">General Chat (<i>/alertsoff</i>)</a> </p>
			</div>
	
			<div class="media">
				<a href="http://www.twitch.tv/hwaitingillini" class="img-twitch image"></a>
				<p><a href="http://www.twitch.tv/hwaitingillini">Tournament Stream</a></p>
			</div>

			<div class="media">
				<a href="#" class="img-battle image"></a>
				<p>Channel: UIUC</p>
			</div>
	</div>
</div>
