<section class="join">
	
	<article>
	    <header><h2>Facebook</h2></header>
	    <p></p>
	</article>

	<article>
	    <header><h2>Skype</h2></header>
	    <p></p>
	</article>

	<article>
	    <header><h2>BNet</h2></header>
	    <p></p>
	</article>

</section>