<p>Click the player name for full statistics.
		If you would like to be included in this listing,
		please send your <a href="http://www.sc2ranks.com/">sc2ranks</a>
		profile via the contact form.</p>

<table id="members">
	<% @data.each do |player| %>
	<tr>
		<td><%= image_tag("race/#{player[0]}.png", :alt => "#{player[1]}") %></td>
		<td><%= link_to("#{player[1]}", "http://sc2ranks.com/us/#{player[4]}/#{player[1]}")%></td>
		<td><%= image_tag("league/#{player[2]}.png", :alt => "#{player[2]}") %></td>
		<td id="points"><%=	player[3] %> pts</td>
	</tr>
	<% end %>
</table>



