<h1>Members</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Race</th>
		<th>League</th>
		<th>Points</th>
	</tr>
	
	<% @data.each do |player| %>
	<tr>
		<td><%= player[0] %></td>
		<td><%= player[1] %></td>
		<td><%= player[2] %></td>
		<td><%=	player[3] %></td>
	</tr>
	<% end %>
</table>



