label {
  font-weight: bold;
  font-size: 16px;
  display: block;
  padding-bottom: 5px;
}
input[type="text"], textarea, input[type="url"] {
  padding: 5px;
  width: 400px;
  font-size: 16px;
}
input[type="text"], input[type="url"] {
  margin-bottom: 1em;
}
textarea {
  height: 200px;
  margin-bottom: 1em;
}

input[type="submit"] {
  background-color: #F54828;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  border: 0px;
  margin: 0px;
  padding: 8px 12px;
  &:hover{
    background-color: #AC321C;
  }
}


