body{
	@include outer-container;
	
	header{
		margin-top: 20px;
		img{
			display: block;
			margin: 5px auto;
		}
	}

	// --nav start
	nav#main_nav {
		@include row();
		background-color: #f2f2f2;
		font-weight: bold;
		position: relative;
		border: 1px solid #ccc;

		ul{
			width: 100%;
			margin: 0 auto;
			padding: 0;
			list-style: none;
			
			li{
				display: inline;
				float: left;

				a{
					display: inline-block;
					padding: 8px 15px;
					text-decoration: none;
					color: #069;
					border-right: 1px solid #ccc;
					&:hover{
						color: white;
						background-color: orange;
					}
				}
			}
		}
	} // --nav end
	
// --container start
	div#container{
		//--table start
		table#members{
			width: 80%;
			margin: 0 auto;
			text-align: center;
			//row styling, on hover effects
	    tr:nth-child(even) {background: #fff}
			tr:nth-child(odd) {background: #f2f2f2}
			tr:hover {
				background: orange;
				color: white;
				td a{color: white;}
			}
			td{
				a{
					text-decoration: none;
					color: #000;
				}
				font-size: 20px;
				font-weight:600;
			}
			#points{font-weight:300;}
		}// --table end
	}// --container end
}