//default text, highlight, link colors
html{
	color: #2E0D23;
	::-moz-selection { background: #594C43; color: #fff; text-shadow: none; }
	::selection { background: #594C43; color: #fff; text-shadow: none; }
	a{
		color: #EA7525;
	}
	height: 100%
}

body{
	min-height: 100%;
	position:relative;
	padding-bottom: 80px;
	// --sprites
	@import "img/*.png";
	@include all-img-sprites;

	font-family: $helvetica;
	@include outer-container;
	
	footer {
		width:100%;
		height:50px;
		position:absolute;
		bottom:0;
		left:0;
		text-align: right;
		color: #4A748C;
		a{
			text-decoration: none;
			color: #4A748C;
			font-size: 14px;
		}
	}

	// --header start
	header{
		margin-top: 20px;
		div{
			height: 35px;
			width: 100%;
			max-width: 458px;
			margin: 0 auto;
		}
	} // --header end

	// --flash start
	#flash{
		display: block;
		text-align: center;
	} // --flash end

	// --nav start
	ul#nav{
		background-color: #0D1B24;
		font-weight: bold;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    li{
    	display: inline;
    }
    a{
    	display: inline-block;
			padding: 8px 15px;
			text-decoration: none;
			color: white;
			&:hover{
				background-color: #EA7525;
			}
		}
	}// --nav end

	// --box start
	.box{
		margin-top: 15px;
		padding: 10px;
		background-color: #DCEBF0;
		border: 4px solid #4A748C;

		h1{
			margin-top: 0;
			text-align: center;
			background-color: #4A748C;
			color: white;
		}
		h2{
			margin-top: 0;
			font-size:20px;
			margin-bottom: 0;
		}
		h3{
			margin-top: 5px;
			font-size: 14px;
		}
	}// --box end

	// --button start
	.button{
		display: inline-block;
	  background-color: #EA7525;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration:none;
    font-size: 14px;
    padding: 8px 12px;
    &:hover{
    	background-color: #D36921;
    }
	}
	ul.options{
		list-style-type: none;
		margin:0;
		padding:0;
		li{
			display: inline;
			background-color: #EA7525;
			&:hover{
				background-color: 	#D36921;
			}
			a{
				padding: 8px 15px;
				text-decoration: none;
				color: white;
			}
		}
	} // --button end

	//--table start
	table{
		width: 100%;
		margin: 0 auto;
		text-align: center;
		//row styling, on hover effects
    tr:nth-child(even) {background-color: white}
		tr:nth-child(odd) {background-color: #DCEBF0}
		tr:hover {
			background: #4A748C;
			color: white;
			td a{color: white;}
		}
		td{
			a{
				text-decoration: none;
				color: #000;
			}
			font-size: 20px;
			font-weight:600;
		}
		td.race{
			height: 30px;
			width: 30px;
		}
		td.league{
			height: 30px;
			width: 30px;
		}
		td.points{font-weight:300;}
	}// --table end

}