#home{
	#latest{
		@include span-columns(8);
	}
	#new{
		@include span-columns(4);
		.media{
			@include row();
			margin-top: 10px;
		}
		.image{
			float: left;
			padding-right: 20px;
		}
		.description{
			p{margin-top: 0;}
		}
	}
	
}

#events{
	#calendar{
		@include span-columns(3);
		iframe{
		width: 100%;
		height: 300px;
		}
	}
	
	#posts{
		@include span-columns(9);
	}

}



#adminpost{
		// // @include row();
		// margin-top: 30px;
	}
	
	#admin{
		margin-top: 20px;
		text-align: center;
		p{
			margin: 20px 0 0;
		}
	}



